
<section class="background flex" id="contact">
 <h1 class="center color"><i class="fas fa-envelope color"></i> Contact Us</h1>
  <div>
    <form action="/contact" method="post" class="flex">
      <div><input type="text" name="name" placeholder="Name" required  autocomplete="off"/></div>
      <div>
        <input type="email" name="email" placeholder="Email-d" required autocomplete="off" />
      </div>
      <div>
        <input type="tel" name="phone" placeholder="Phone Number" required autocomplete="off"/>
      </div>
      <div>
        <textarea name="message" placeholder="Message" cols="30" rows="10" autocomplete="off"></textarea>
      </div>
      <button class="btn ">Submit</button>
    </form>
  </div>
</section>

