<section id="menu" class="menu flex">
<div>
    <h1><i class="fa fa-file-text-o"></i>
        Our Special Menu</h1>
</div>
<div>
    <table>
        <th>S.no</th>
        <th>Food Item</th>
        <th>Price</th>
        <tr>
            <td>
                1.
            </td>
            <td>
                Kadai Paneer
            </td>
            <td>
                Rs. 230
            </td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                Dal Makhani
            </td>
            <td>
                Rs. 200
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td>
                Roasted paneer
            </td>
            <td>
                Rs. 250
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                Fampous Aloo Parantha
            </td>
            <td>
                Rs. 150
            </td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                Special Thali
            </td>
            <td>
                Rs. 200
            </td>
        </tr>
    </table>
</div>
<div class="btn ">See Special</div>

</section>