<section id="services" class="services flex">
  <h1 class="">Services</h1>
  <div class="flex">
    <div class="card">
      <i class="icon fas fa-utensils fa-4x"></i>
      <h1>Tasty Food</h1>
      <ul>
        <li>Invariably the food is tasty and well prepared.</li>
        <li>
          The fare is appropriate for the price point and market it’s aimed at
        </li>
        <li>
          It’s essential that patrons feel they’ve had a good, enjoyable meal.
        </li>
      </ul>
    </div>
    <div class="card">
      <i class="icon fas fa-concierge-bell fa-4x"></i>
      <h1>Good Service</h1>
      <ul>
        <li>Waitrons know their jobs.</li>
        <li>Efficient and able to advise customers on the best choices.</li>
        <li>
          Food is served with minimal delay, and after the meal patrons don’t
          have to struggle to get their bill.
        </li>
      </ul>
    </div>
    <div class="card">
      <i class="icon fas fa-rupee-sign fa-4x"></i>
      <h1>Reasonable Cost</h1>
      <ul>
        <li>The cost of our meal was fair.</li>
        <li>We avoid overcharging.</li>
        <li>Customers are our 1st priority.</li>
      </ul>
    </div>
    <div class="card">
      <i class="icon fas fa-hand-sparkles fa-4x"></i>
      <h1>Hygine and Cleanliness</h1>
      <ul>
        <li>The entire facility is kept spotlessly clean.</li>
        <li>Eating areas are wiped clean frequently.</li>
        <li>
          Proper food storage and preparation standards are followed to reduce
          the risk of spoiling food.
        </li>
      </ul>
    </div>
  </div>
</section>
