
</main>
<footer class="flex color">
    <div  class="box flex">
       <a href=""> <div><i class="fa fa-map-marker"></i><span>G.T Road Bulandshahr</span></div></a>
      <a href="">  <div><i class="fa fa-phone"></i><span>7302549113</span></div></a>
        <a href=""><div><i class="fa fa-envelope"></i><span>Satkarresturant@gmail.com</span></div></a>
       <a href=""> <div><i class="fa fa-facebook"></i><span>Facebook</span></div></a>
   <a href="">    <div> <i class="fa fa-instagram"></i><span>Instagram</span></div></a>
    </div>
    <hr class="max-width">
    <div>Made with <span><i class="fas fa-heart"></i></span></div>
    <div>By Pulkit Gupta</div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="js/client.js"></script>
<script src="js/scrollspy.js"></script>
</body>
</html>