<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="images/chef-cap.png" type="image/x-icon">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/25e32ff654.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satkar Resturant</title>
</head>
<body>
    <nav class="navbar flex">
        <div class="logo color">Satkar <br> Resturant</div>
        <div class="hamburger">
            <div class="line crossline-one" ></div>
            <div class="line crossline-two"></div>
            <div class="line"></div>
        </div>
        <div class="">
            <ul class="flex">
                <li><a  href="#home" class="color a-home">Home</a></li>
                <li><a href="#services" class="color a-service">Services</a></li>
                <li><a  href="#menu" class="color a-menu">Menu</a> </li>
                <li><a href="#contact" class="color a-contact" >Contact</a></li>
            </ul>
          
        </div>
    
    </nav>
    <main>  
      